<h5><%= @topic.title %></h5>

<%= if @conn.assigns.user do %>
  <div class="input-field">
    <textarea class="materialize-textarea" id="commentContent"></textarea>
    <button class="btn" id="addComment">Add Comment</button>
  </div>
<% end %>

<ul class="collection" id="commentsList"></ul>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(){
    window.createSocket(<%= @topic.id %>);
  });
</script>
